<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
 例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="mybatis.parkingDataMapper">
<!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
 使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
 resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
 User类就是users表所对应的实体类
 -->
 <!--
 根据id查询得到一个user对象
 -->
    <resultMap id="parkingDataMap" type="com.bitselink.domain.ParkingData">
        <result property="recordid" column="ID" />
        <result property="devno" column="devno" />
        <result property="inouttype" column="inouttype" />
        <result property="plateno" column="plateno" />
        <result property="inoutdtime" column="inoutdtime" />
<!--        <result property="P_DateTime" column="P_DateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>-->
    </resultMap>

    <select id="selectParkingData" parameterType="map" resultType="map" databaseId="sqlserver">
        <!--select P_Memo from Pcm_Group where P_GroupID=#{id}-->
        select 'in' as action,ID,CPH as plateNo,InTime as time from dbo.MYCARCOMERECORD where InTime between #{timeFrom} and #{timeTo}
        union all
        select 'out' as action,ID,CPH as plateNo,OutTime as time from dbo.MYCARGOOUTRECORD where OutTime between #{timeFrom} and #{timeTo}
    </select>
    <select id="selectCarInTableData" parameterType="map" resultType="map" databaseId="sqlserver">
        <!--select P_Memo from Pcm_Group where P_GroupID=#{id}-->
        select 'in' as action,ID,CPH as plateNo,InTime as time from dbo.MYCARCOMERECORD where InTime between #{timeFrom} and #{timeTo}
    </select>
    <select id="selectCarOutTableData" parameterType="map" resultType="map" databaseId="sqlserver">
        <!--select P_Memo from Pcm_Group where P_GroupID=#{id}-->
        select 'out' as action,ID,CPH as plateNo,OutTime as time from dbo.MYCARGOOUTRECORD where OutTime between #{timeFrom} and #{timeTo}
    </select>
    <!--<select id="selectCarInByCondition" parameterType="map" resultType="map" databaseId="sqlserver">-->
    <select id="selectCarInByCondition" parameterType="map" resultMap="parkingDataMap" databaseId="sqlserver">
        select 0 as inouttype,#{devNo} as devno,ID,CPH as plateno,InTime as inoutdtime from dbo.MYCARCOMERECORD
        <where>
            <if test="timeFrom != null and timeTo != null">
                InTime between #{timeFrom} and #{timeTo}
            </if>
            <if test="recordId != null">
                and ID > #{recordId}
            </if>
        </where>
    </select>
    <!--<select id="selectCarOutByCondition" parameterType="map" resultType="map" databaseId="sqlserver">-->
    <select id="selectCarOutByCondition" parameterType="map" resultMap="parkingDataMap" databaseId="sqlserver">
        select 1 as inouttype,#{devNo} as devno,ID,CPH as plateno,OutTime as inoutdtime from dbo.MYCARGOOUTRECORD
        <where>
            <if test="timeFrom != null and timeTo != null">
                OutTime between #{timeFrom} and #{timeTo}
            </if>
            <if test="recordId != null">
                and ID > #{recordId}
            </if>
        </where>
    </select>
 </mapper>